{% extends 'adopt/base.html' %}

{% load static %}

{% block title %} - {{ pet.name }}{% endblock %}

{% block main %}
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="card mb-8 shadow-sm">
            <div class="card-body">
              <p class="card-text">
                <div class="pet-name">
                  <strong>{{ squirrel.Unique_Squirrel_ID }}</strong>
                </div>
                <div>
                  <span class="text-muted font-italic">Latitude:</span>
                  <span>
                    {{ squirrel.x }}
                  </span>
                </div>
                <div>
                  <span class="text-muted font-italic">Longitude:</span>
                  <span>
                    {{ squirrel.y }}
                  </span>
                </div>
                <div>
                  <span class="text-muted font-italic">Date Found:</span>
                  <span>
                    {{ squirrel.date }}
                  </span>
                </div>
                <div>
                  <span class="text-muted font-italic">Shift:</span>
                  <span>
                    {{ squirrel.shift }}
                  </span>
                </div>
                <div>
                  <span class="text-muted font-italic">Age:</span>
                  <span>
                    {{ squirrel.age }}
                  </span>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <form action="/adopt/add/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Request">
          </form>
        </div>
      </div>
    </div>
  </div>
 {% endblock %}
      

