<!DOCTYPE html>

<html>
  <body>
    <ul>
      {% for squirrel in squirrels %}
      <p>
        <li>{{ squirrel.Unique_Squirrel_ID }}</li>
        <li>{{ squirrel.Date }}</li>
        <li><a href="{% url 'adopt:detail' squirrel.Unique_Squirrel_ID %}">Link to this particular sigihting</a></li>
      </p>
      {% endfor %}
    </ul>
    <p>
      <!-- comment this out for now until we finish creating html file for /sighting/add/ -->
      <!--  url 'adopt:add' Create a new sighting -->
    </p>
  </body>
</html>
