{% extends 'adopt/base.html' %}
  
{% load static %}

{% block title %} - All Squirrels{% endblock %}

{% block main %}
  <div class="album py-5 bg-light">
    <div class="container">
	<div class="btn-group">
                 <a class="btn btn-sm btn-outline-secondary" href="{% url 'adopt:sightings_add' %}">Clicking for adding squirrel sighting.</a>
                </div>
      <div class="row">
        {% for squirrel in squirrels %}
          <div class="card mb-4 shadow-sm" "d-flex">
            <div class="card-body">
              <p class="card-text">
                <div class="Squirrel ID:">
                  <strong>{{ squirrel.unique_squirrel_id }}</strong>
                </div>
                <div class="Found Date:">
                  <strong>{{ squirrel.date }}</strong>
                </div>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <a class="btn btn-sm btn-outline-secondary" href="{% url 'adopt:detail' squirrel.unique_squirrel_id %}">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="btn-group">
                 <a class="btn btn-sm btn-outline-secondary" href="{% url 'adopt:sightings_add' %}">Clicking for adding squirrel sighting.</a>
                </div>
    </div>
  </div>
{% endblock %}

